@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: "Poppins", sans-serif;
font-family: "Roboto", sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color:#2294ed;
  --accent-color-dark:#1d69a3;
  --padding-inline-section:20px
}
body{
    font-family: "Poppins", sans-serif;
     color: var(--primary-text-color);
}
p{
    font-family: "Roboto", sans-serif;
    color: var(--secondary-text-color); 
    line-height: 1.4rem;
}
.flex{
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
}
li,ul{
    list-style-type: none;
}
.container{
    max-width: 1380px;
    margin: 0 auto;
}
nav{
    background-color: #f3faff;
    box-shadow: 0 0 4px #bbd0e2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.main_nav{
    justify-content: space-between;
    padding-block: 8px;
}
.company_logo img{
    width: 120px;
}
.nav_link ul{
    gap: 16px;
}
.hover_link
{
    cursor: pointer;
    
}
.hover_link:hover{
    color: var(--secondary-text-color);
}
.hover_link:active{
    color: red;
}
.nav_item.active{
color: var(--accent-color);
}
.search_bar{
    height: 32px;
    gap: 8px;
}
.news_input{
    width: 200px;
    height: 100%;
    border: 2px solid #bbd0e2;
    padding-inline: 12px;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;


}
.search_button{
    background-color: var(--accent-color);
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;

}
.search_button:hover{
    background-color: var(--accent-color-dark);
}
main{
    padding-block: 1.25rem;
    margin-top: 80px;
}
.card_container{
justify-content: space-between;
row-gap: 20px;
align-items: start;
flex-wrap: wrap;
}
.card_container .card{
    max-width: 360px;
    box-shadow: 0 0 4px #d4ecff;
min-height: 400px;
border-radius: 4px;
overflow: hidden;
cursor: pointer;
transition: all 0.3s ease;
}
.card_container .card:hover{
    box-shadow: 1px 1px 8px #d4ecff;
    background-color: #f9fdff;
    transform: translateY(-2px);
}
.card_container .card .card_header img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.card_content{
    padding: 12px;
}
.news_source{
    padding-block: 12px;
}